In [13]:
import numpy as np
import pandas as pd

## (1) - I prefer to get each row in a dataframe using .iloc

In [14]:
data = pd.read_csv('Line.csv')
data

  First Name Last Name  Position in Line
0        Bob    Henson                 2
1        Joe     Chang                 1
2       Will     Small                 4
3       Lily     Smith                 5
4     Andrew     Jones                 3

In [15]:
for row in range(len(data)):
    print(data.iloc[row])

First Name             Bob
Last Name           Henson
Position in Line         2
Name: 0, dtype: object
First Name            Joe
Last Name           Chang
Position in Line        1
Name: 1, dtype: object
First Name           Will
Last Name           Small
Position in Line        4
Name: 2, dtype: object
First Name           Lily
Last Name           Smith
Position in Line        5
Name: 3, dtype: object
First Name          Andrew
Last Name            Jones
Position in Line         3
Name: 4, dtype: object

## (2) - Note: the index is 2 since we start counting from 0

In [17]:
print(data.iloc[2])

First Name           Will
Last Name           Small
Position in Line        4
Name: 2, dtype: object

## (3)

In [19]:
data = data.append(pd.DataFrame({"First Name":['Bill'],"Last Name":["North"],"Position in Line":[6]}))
data

  First Name Last Name  Position in Line
0        Bob    Henson                 2
1        Joe     Chang                 1
2       Will     Small                 4
3       Lily     Smith                 5
4     Andrew     Jones                 3
0       Bill     North                 6

## (4)

In [20]:
print(data.iloc[3][0])

Lily

## (5)

In [21]:
for row in range(len(data)):
    if data.iloc[row][2] == 1:
        print(data.iloc[row])

First Name            Joe
Last Name           Chang
Position in Line        1
Name: 1, dtype: object

In [22]:
data.to_csv('RevisedDataframe.csv')